@tailwind base;
@tailwind components;
@tailwind utilities;

.cdcms_college_highlights {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Hide any overflowing content */
}

.cdcms_college_highlights > div {
  overflow-x: auto; /* Add horizontal overflow for child divs */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .cdcms_college_highlights {
    padding: 10px; /* Adjust padding for smaller screens */
  }
}


.cdcms_college_highlights p {
  line-height: 1.6;
}

.cdcms_college_highlights h2 {
  color: #333;
  font-size: 24px;
  margin-top: 30px;
}

.cdcms_college_highlights strong {
  font-weight: bold;
}

.cdcms_college_highlights table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cdcms_college_highlights th,
.cdcms_college_highlights td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.cdcms_college_highlights ol {
  list-style: none;
  padding-left: 20px;
}

.cdcms_college_highlights ul {
  list-style: none;
  padding-left: 20px;
}

.cdcms_college_highlights a {
  color: #007bff;
  text-decoration: none;
}

.cdcms_college_highlights a:hover {
  text-decoration: underline;
}


.cdcms_cut_off {
  max-width: 800px; /* Adjust the max-width as needed */
  padding: 20px; /* Add padding as needed */
  overflow-x: auto; /* Add horizontal overflow */
}

.table-responsive {
  overflow-x: auto; /* Add horizontal overflow to table-responsive */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .cdcms_cut_off {
    max-width: 100%; /* Full width on smaller devices */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}
